@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../fonts/Commissioner-SemiBold.ttf');
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --light-bg: #FCFDFF;
    --main-peach: #E9DDD9;
    --main-peach--hover: #D6BCB4;
    --dark-black: #333333;
    --light-wite: #FFF9F4;
    --white: #FAFAF8;
    --main-green: #B2C39F;
    --main-green--hover: #8C987F;
    --dark-brown: #756659;
    --dark-brown--light: #CDAF95;
    --dark-brown--hover: #574A40;

    --padding-width: 30px;
    --padding-width-mob: 10px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
}

html {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Commissioner', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--dark-black);
    background-color: var(--light-bg);
}
.visually-hidden {
   position: absolute;
  top: -999999em;
  left: auto;
  width: 1px;
  height: 1px;
  overflow:hidden;

}
.no-scroll {
    overflow: hidden;
}

button,
input {
    font-family: 'Commissioner';
    border: 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-black);
    background-color: transparent;
    border-radius: 0;

}
input[type='email'],
input[type='password'],
input[type='text'],
input[type='search'] {
    width: 100%;
    height: 46px;
    padding: 0 16px;
    border-bottom: 1px solid #ADAEB9;

}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: #ADAEB9;
    mask-image: url('../images/icons/close_16.svg');
    cursor: pointer;
}

input[type="search"]::-webkit-search-cancel-button:hover {
    background: var(--dark-brown--light);
}
input:focus {
    outline: none;
    border-color: var(--dark-brown--light);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__title {
    padding-right: 40px;
    color: var(--dark-brown);
}
.form_btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.password_forget {
    color: var(--main-green);
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}
.password_forget:hover {
    color: var(--main-green--hover);
}
.container {
    max-width: calc(1540px + (var(--padding-width)* 2));
    padding: 0 var(--padding-width);
    width: 100%;
    margin: 0 auto;

}

.custom-scrollbar {
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: var(--main-peach) var(--light-bg);
    padding-right: 6px;
    border-radius: 10px;
    opacity: 1;
}



.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--light-bg);
    border-radius: 6px;
    width: 4px;
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--main-peach);
    opacity: 1;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--main-peach--hover);
}
.flex-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
h1,
h2,
h3,
h4 {
    font-family: 'Rubik';
    font-weight: 500;
}

.section_title {
    color: var(--dark-brown);
}

h1.title-top {
    font-weight: 600;
    font-size: 96px;
    line-height: 90%;
}

h1 {
    font-size: 48px;
    line-height: 50px;
    color: var(--dark-brown);
}

h2 {
    font-size: 40px;
    line-height: 40px;
}

h3 {
    font-size: 32px;
    line-height: 30px;
}

h4 {
    font-family: 'Commissioner';
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
}

.text-m {
    font-size: 20px;
    line-height: 24px;
}

.text-s {
    font-size: 18px;
    line-height: 24px;
}

.text-xs {
    font-size: 16px;
    line-height: 20px;
}

.text-mobil {
    font-size: 14px;
    line-height: 18px;
}

.link_tel {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--dark-brown);
}

.link_tel:hover {
    color: var(--dark-brown--hover);
}

.btn {
    padding: 12px 20px;

    gap: 6px;
    font-size: 16px;
    line-height: 20px;
    height: 46px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    position: relative;
    width: fit-content;
    color: var(--dark-black);
}
.btn:hover {
    color: var(--dark-brown);
}
.btn--width {
    width: 100%;
}

.btn-primary {
    background-color: var(--main-green);
}

.btn-primary:hover {
    background-color: var(--main-green--hover);

}

.btn-second {
    color: var(--dark-brown--light);
    border: 1px solid var(--dark-brown--light);
}

.btn-second:hover {
    color: var(--dark-brown);
    border: 1px solid var(--dark-brown);
}

.btn-thrid {
    background-color: var(--main-peach);
}

.btn-thrid:hover {
    background-color: var(--main-peach--hover);
}

.btn_square {
    height: 64px;
    width: 64px;
    border: 1px solid var(--dark-brown--light);
    border-radius: 20px;
    padding: 0;
}

.btn_square:hover {
    background-color: var(--light-wite);
}

.btn_square::before {
    width: 24px;
    height: 24px;
    margin: auto;
    display: block;
    content: '';
    background-color: var(--dark-brown--light);
}

.btn_square-count {
    position: absolute;
    top: -2px;
    right: -4px;
    width: 18px;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    line-height: 100%;
    background: #D76262;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn--menu::before {
    mask-image: url('../images/icons/menu.svg');
}

.btn--search::before {
    mask-image: url('../images/icons/search.svg');
}

.btn--user::before {
    mask-image: url('../images/icons/user.svg');
}

.btn--like::before {
    mask-image: url('../images/icons/like.svg');
}

.btn--basket::before {
    mask-image: url('../images/icons/basket.svg');
}

.btn--burger::before {
    mask-image: url('../images/icons/burger.svg');
}

.btn_page-top {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 30px;
    background-color: var(--main-green);
    border: 0;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
}

.btn_page-top.is-visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.btn_page-top::before {
    background: url('../images/icons/arrow-top_black.svg') 50% / contain no-repeat;
}

.btn_page-top:hover {
    background-color: var(--main-green--hover);
}

.btn_trash {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
    background-color: #ADAEB9;
    mask-image: url('../images/icons/trash.svg');

}

.btn_trash:hover {
    background-color: var(--dark-brown--light);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 14px;
    width: fit-content;
}

.logo-wrapper span {
    color: var(--main-peach--hover);
    font-size: 16px;
    line-height: 20px;
}

.logo_img {
    width: 419px;
    height: 86px;
    object-fit: contain;
}
body {
    padding-top: 250px;

}
.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
}

.header {
    padding: 60px 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: var(--light-bg);
    transition: transform .3s ease;
}

.header.is-scrolled {
    transform: translateY(-100%);

}

.header.is-visible {
    transform: translateY(0%);
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-nav__link {
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-brown--light);

    border-bottom: 1px solid #33333300;
}

.header-nav__link:hover {
    color: var(--dark-brown);
    border-bottom: 1px solid var(--dark-brown);
}

.header-nav__link.is-active {
    color: var(--dark-brown);
    border-bottom: 1px solid #33333300;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: 1px solid #DDDDDD;
}

.contact-adress {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    color: var(--dark-brown);
    font-size: 16px;
    line-height: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    padding-top: 14px;
    gap: 20px;
    justify-content: space-between;
}

.btn_group {
    display: flex;
    align-items: center;
    gap: 10px;
}
.section_hero {
    overflow-x: hidden;
}
.hero-swiper {
    position: relative;
     width: 100%;
}

.hero_slide {
    width: 100%;
}

.hero_slide a {
    display: block;
}

.hero_slide img {
    width: 100%;
    object-fit: contain;
}

.swiper-pagination {
    display: flex;
    gap: 2px;
    position: static;
    justify-content: center;
    padding: 25px 0;
    margin-top: 30px;
}

.swiper-pagination__hero.swiper-pagination {
    position: absolute;
    bottom: 10.4%;
    left: 5.2%;
    width: fit-content;
    z-index: 9;
    padding: 0;
    margin: 0;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid var(--dark-brown--light);
    background: #cdaf9500;
    transition: all 0.3s ease;
    opacity: 1;
    border-radius: 100px;
    margin: 0;
}

.swiper-pagination-bullet:hover {
    background: var(--dark-brown--light);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
}

.swiper-pagination-bullet-active {
    background: var(--dark-brown--light);
    width: 20px;
}

.nav_bottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    background: #FFFFFFCC;
    backdrop-filter: blur(10px);
    z-index: 10;

}

.nav_bottom .btn_square {
    border-color: var(--dark-brown);
}

.nav_bottom .btn_square::before {
    background-color: var(--dark-brown);
}

.btn--burger {
    display: none;
}

.modal-overlay {
    position: fixed;
    padding: 10px;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #91746a00;
    pointer-events: none;
    transition: background-color .3s ease;
    z-index: 11;
}

.modal-overlay.is-open {
    pointer-events: all;
    background: #91746A99;
}

.modal-overlay.is-open .menu-content {
    transform: translateX(0);
}

.modal-overlay.is-open .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 40px;
    background-color: #FFFFFF;
    border: 1px solid var(--main-peach);
    border-radius: 32px;
    width: 100%;
    max-width: 530px;

    transform: translateY(100%);
    opacity: 0;
}

.form_politick {
    font-size: 14px;
    line-height: 18px;
    color: #ADAEB9;
}

.form_politick a:hover {
    color: var(--dark-brown--light);
}

.menu-content {
    position: absolute;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform .5s ease;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 100%;
    max-width: 490px;
    box-shadow: -4px 4px 12.3px 0px #75665921;
    background-color: var(--light-bg);
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu_content_top {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.menu-content.menu-content--left {
    transform: translateX(-100%);
    right: auto;
    left: 0;
}

.modal-content__close {
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
    background-color: #ADAEB9;
    mask-image: url('../images/icons/close.svg');
    transition: background-color .3s ease;
}

.modal-content__close:hover {
    background-color: #CDAF95;
}

.menu-content__title {
    color: var(--dark-brown);
    padding-right: 40px;
}

.menu-content_main {
    flex-grow: 2;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mini-basket_card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}

.mini-basket_card:last-child {
    padding-bottom: 0px;
    border-bottom: 0;
}

.mini-basket_card-img {
    width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 26px;
}

.mini-basket_card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;
    gap: 7px;
    flex-grow: 1;

}

.mini-basket_card-title:hover {
    color: var(--dark-brown--light);
}

.mini-basket_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-content .logo-wrapper {
    display: none;
}

.menu_catalog-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#catalogMenu .menu-content {
    padding-bottom: 0;
}

.btn_mobile_visible {
    display: none;
}

#catalogMenu .menu-content_main {
    padding-bottom: 40px;
}

.link_items_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.link_items_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2px;
}

.link_item {
    font-size: 16px;
    line-height: 20px;
    width: fit-content;
    cursor: pointer;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    gap: 6px;
}

.link_item span {
    border-bottom: 1px solid #75665900;
    transition: all .3s ease;
}

.link_item:hover span {
    border-bottom: 1px solid var(--dark-brown);
    color: var(--dark-brown);
}

.link_item.btn--menu::before,
.link_item::before {
    content: '';
    width: 0px;
    height: 16px;
    flex-shrink: 0;
    transition: all .3s ease;
    display: block;
    mask-image: none;
    background: url('../images/icons/arrow_top_right.svg')50% / contain no-repeat;
}

.link_item:hover::before {
    width: 16px;
}

.link_item.link_item--top {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.iti {
    width: 100%;
}

.input_label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input_label.error input {
    border-color: #D76262;
    color: #D76262;
}

.input_label.error .error_msg {
    display: block;
}

.error_msg {
    font-size: 14px;
    line-height: 18px;
    color: #D76262;
    display: none;

}

.quick-order__name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}

.quick-order__price {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.quick-order__img {
    width: 293px;
    aspect-ratio: 1 / 1;
    border-radius: 32px;
    object-fit: cover;
    margin-bottom: 20px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-menu__bottom {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-links__container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-link {
    width: 24px;
    height: 24px;
    background-color: var(--dark-brown--light);
}

.social-link:hover {
    background-color: var(--dark-brown);
}

.social-link--wth {
    mask-image: url('../images/icons/icon_wt.svg');
}

.social-link--tg {
    mask-image: url('../images/icons/icon_tg.svg');
}

.social-link--vk {
    mask-image: url('../images/icons/icon_vk.svg');
}

.hero_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.catalog_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.catalog_item-img_wrapper {
    max-width: 166px;
    aspect-ratio: 1 / 1;


}

.catalog_item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}

.catalog_item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    aspect-ratio: 1 / 0.407;
    border-radius: 32px;
    background-color: #EBEBEB;
    transition: background-color .3s ease;
}

.catalog_item:hover {
    background-color: #DDDDDD;
}

.catalog_item:hover .catalog_item_link {
    color: var(--dark-black);
}

.catalog_item:hover .catalog_item_link::after {
    background-color: var(--dark-black);
}

.catalog_item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog_item_link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-brown);
}

.catalog_item_link::after {
    content: '';
    transition: background-color .3s ease;
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background-color: var(--dark-brown);
    mask-image: url('../images/icons/arrow_top_right.svg');
}

.catalog_item--all {
    border: 1px solid var(--dark-brown--light);
    background-color: transparent;
    transition: all .3s ease;
}

.catalog_item--all:hover {
    background-color: transparent;
    border-color: var(--dark-brown);
}

.catalog_item--all h4 {
    transition: color .3s ease;
}

.catalog_item--all:hover h4 {
    color: var(--dark-brown);
}

.catalog_item--all h4 {
    color: var(--dark-brown--light);
}

.btn_more_catalog {
    display: none;
}

.product-promo-tab__container {
    display: flex;
    align-items: center;

}

.product-promo-tab {
    padding: 0 18px;
    border-left: 3px solid var(--dark-brown--light);
    color: var(--dark-brown--light);
    transition: color .3s ease;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    cursor: pointer;
}

.product-promo-tab:first-child {
    border-left: 0;
}

.product-promo-tab:hover {
    color: var(--dark-brown);
}

.product-promo-tab.is-active {
    color: var(--dark-black);
}

.product-promo__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab_link {
    display: none;
}

.section_product-promo {
    overflow-x: hidden;
}

.swiper_nav-container {
    display: flex;
    align-items: center;
    gap: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.swiper-button-custom-next,
.swiper-button-custom-prev {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.swiper-button-custom-next.swiper-button-lock,
.swiper-button-custom-prev.swiper-button-lock {
    display: none;
}

.swiper-button-custom-next.swiper-button-disabled,
.swiper-button-custom-prev.swiper-button-disabled {
    opacity: .5;
    pointer-events: none;
}

.swiper-button-custom-next:hover::after,
.swiper-button-custom-prev:hover::after {
    background-color: var(--dark-brown--light);
}

.swiper-button-custom-next {
    transform: scale(-1, 1);
}

.swiper-button-custom-next::after,
.swiper-button-custom-prev::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 2px solid var(--dark-brown--light);
}

.swiper-button-custom-next::before,
.swiper-button-custom-prev::before {
    width: 32px;
    height: 15px;
    content: '';
    display: block;
    background: url('../images/icons/arrow_left.svg') 50% / contain no-repeat;
}

.tab_link {
    font-size: 16px;
    line-height: 20px;
}

.tab_link:hover {
    color: var(--dark-brown--light);
}

.swiper_promo {
    margin-top: 30px;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card_img-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 32px;
    overflow: hidden;
    position: relative;

}

.product-card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.availability_msg {
    font-size: 18px;
    line-height: 24px;
    color: #D76262;
    display: none;
}

.product-card_title {
    font-size: 20px;
    line-height: 24px;
}

.product-card_title:hover {
    color: var(--dark-brown--light);
}

.product-card_img-wrapper:hover .product-card_img__overlay {
    opacity: 1;
}

.product-card_img__overlay {
    position: absolute;
    transition: opacity .3s ease;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #00000080;
    opacity: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;

}

.product-card[data-availability="false"] .availability_msg {
    display: block;
}

.product-card[data-availability="false"] .btn[data-btn="addBasket"],
.product-card[data-availability="false"] .btn[data-btn="quickBuy"],
.product-card .btn[data-btn="buyLike"] {
    display: none;
}

.product-card[data-availability="false"] .btn[data-btn="buyLike"] {
    display: flex;
}

[data-btn="addBasket"].added {
    pointer-events: none;
}

.product-card_hint {
    font-size: 16px;
    line-height: 16px;
    color: var(--light-wite);
    height: 44px;
    width: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FAFAF833;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;

}

.product_card_like {
    position: absolute;
    top: 20px;
    width: 44px;
    height: 44px;
    padding: 0;
    right: 20px;
    z-index: 5;
    border-radius: 10px;
    background: #FAFAF833;
    backdrop-filter: blur(6px);
}

.product_card_like::after {
    width: 24px;
    height: 24px;
    content: '';
    display: block;
    background-color: #ffffff;
    mask-image: url('../images/icons/like.svg');
}

.product_card_like:hover {
    opacity: .8;
}

.product_card_like.liked::after {
    mask-image: url('../images/icons/like_fill.svg');
}

.product-card_price {
    font-weight: 500;
}

.banner {
    padding: 88px 80px;
    position: relative;
    overflow: hidden;
    border-radius: 60px;
    color: var(--dark-brown);
    background-color: var(--main-peach);
}

.banner::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('../images/banner/1.png')100% 100% / cover no-repeat;
}

.banner-info {
    max-width: 608px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.banner-info .btn {
    margin-top: 40px;
}

.section_reviews {
    overflow-x: hidden;
}

.reviews_top {
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.yandex_review {
    position: relative;
    display: flex;
    gap: 10px;
    padding-right: 118px;
    z-index: 2;
}

.yandex_review__raiting {
    box-shadow: 0px 1px 4.6px 0px #B9B9B940;
    border-radius: 4px;
    width: 176px;
    height: 82px;
    flex-shrink: 0;
    background: url('../images/review/raiting.svg')50% / contain no-repeat;
}

.yandex_review__flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 108px;
    height: 155px;
    background: url('../images/review/flag.svg')50% / contain no-repeat;
}

.review_card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 32px;
    border: 1px solid #E9DDD9;
    max-width: 370px;
    width: 100%;
}

.review_card__user {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.review_card__user span {
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.8;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

}

.review_card__user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.review_card__top {
    display: flex;
    gap: 10px;
}

.review_card__info {
    padding: 5px 0 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.review__star-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.review__star {
    width: 16px;
    height: 16px;
    background-color: #FFC24A;
    flex-shrink: 0;
    mask-image: url('../images/icons/star.svg');
}

.review__star.fill {
    mask-image: url('../images/icons/star_fill.svg');
}

.review_more {
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-brown--light);
    width: fit-content;
    transition: color .3s ease;
}

.review_more:hover {
    color: var(--main-peach);
}

.review__text {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

.review__text.expanded {
    -webkit-line-clamp: unset;
    display: block;
}

.review_card__name {
    font-size: 16px;
    line-height: 20px;
}

.review_card__date {
    font-size: 16px;
    line-height: 20px;
    color: var(--dark-brown--light);
}

.section_blog {
    overflow-x: hidden;
    position: relative;
    min-height: 537px;
}

.swiper_blog {
    margin-top: 30px;
    position: relative;

}

.swiper_blog-nav.swiper-button-custom-prev {
    position: absolute;
    z-index: 5;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.swiper_blog-nav.swiper-button-custom-next {
    position: absolute;
    z-index: 5;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) scale(-1, 1);
}

.swiper_blog-nav.swiper-button-custom-next::before,
.swiper_blog-nav.swiper-button-custom-prev::before {

    background: url('../images/icons/arrow_left_white.svg') 50% / contain no-repeat;
}

.swiper_blog-nav.swiper-button-custom-next:hover::after,
.swiper_blog-nav.swiper-button-custom-prev:hover::after {
    background-color: var(--light-bg);
}

.swiper_blog-nav.swiper-button-custom-next::after,
.swiper_blog-nav.swiper-button-custom-prev::after {

    border: 2px solid var(--light-bg);
}

.blog_card {
    max-width: 628px;
    transform: scale(0.8) translateY(-5px);
    width: 100%;
    opacity: 0;
    transition: transform 0.6s ease, opacity .3s ease, border .3s ease;
    will-change: transform, opacity;
    transform: translateZ(0);
    /* Аппаратное ускорение */
    border: 1px solid #8a888600;
    border-radius: 32px;
}

.blog_card:hover {
    border: 1px solid var(--dark-brown--light);
}

.blog_card-img {
    width: 100%;
    height: 295px;
    object-fit: cover;
    border-radius: 32px;
    transition: height 0.6s ease;
    /* Плавное изменение высоты */
}

.blog_card.swiper-slide-prev {
    transform: scale(0.8) translate(55px, -50px);
    opacity: 1;
}

.blog_card.swiper-slide-next {
    transform: scale(0.8) translate(-55px, -50px);

    opacity: 1;
}

.blog_card_info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.blog_card.swiper-slide-active {
    opacity: 1;
    transform: translateX(0);
}

.blog_card.swiper-slide-active .blog_card-img {
    height: 327px;
}

.container.swiper_nav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.block_call {
    padding: 70px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--main-green);
    color: #ffffff;
    border-radius: 60px;
}

.block_call__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block_contact {
    padding: 70px 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--main-peach);
    color: var(--dark-brown);
    border-radius: 60px;
}

.block-contact_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.block-contact_item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px 13px;
    font-size: 20px;
    color: var(--dark-black);
    transition: color .3s ease;
}

.block-contact_item:hover {
    color: var(--dark-brow);
}

.block-contact_item::before {
    display: block;
    content: '';
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: var(--dark-brown);
}

.contact_item--mail::before {
    mask-image: url('../images/icons/mail.svg');
}

.contact_item--phone::before {
    mask-image: url('../images/icons/phone.svg');
}

.contact_item--wt::before {
    mask-image: url('../images/icons/icon_wt.svg');
}

.contact_item--tg::before {
    mask-image: url('../images/icons/icon_tg.svg');
}

.contact_item--vk::before {
    mask-image: url('../images/icons/icon_vk.svg');
}

.footer-content {
    padding: 70px;
    margin-top: 20px;
    border-radius: 60px;
    background-color: var(--dark-black);
    color: var(--light-wite);
    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
    gap: 70px;
}

.footer_nav-link {
    font-size: 16px;
    line-height: 20px;
}

.footer_nav-link:hover {
    color: var(--main-green);
}

.footer_nav-list-title {
    font-size: 24px;
    line-height: 24px;
    color: var(--main-green);
    min-height: 24px;
}

.footer_nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer_nav-list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer_nav-list--grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.footer_nav {
    display: flex;

    gap: 20px 70px;
    flex-grow: 1;
    max-width: 844px;
    flex-wrap: wrap;
}

.footer_nav-link--politic {
    color: var(--dark-brown--light);
}

.footer_top {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.footer_logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer_logo-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .block-contact_item {
    color: var(--light-wite);
}

footer .block-contact_item:hover {
    color: var(--dark-brown--light);
}

footer .block-contact_item::before {
    background-color: var(--dark-brown--light);
}

.footer_nav-list--grid-column {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.developer,
.footer_bottom-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 950px;
}

.footer_bottom {
    padding-top: 18px;
    border-top: 3px solid #3C3C3C;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #FAFAF8;
}

.developer {
    flex-shrink: 0;
    color: #ABABAB;
}

.company_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px 16px;

    color: #ABABAB;
}

.logo-develop {
    width: 190px;
    height: 33px;
    background: url('../images/logo_develop.png') 50% / contain no-repeat;
}
.success_form__content {
    display: none;
}

.success_form.form > :not(.success_form__content, .form__title) {
 display: none;
}
.success_form .success_form__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 20px;
}
.breadcrumbs a {
    color: #B3B3B3;
    font-size: 16px;
    line-height: 16px;
}

.breadcrumbs a::before {
    content: '/ ';
}
.breadcrumbs a:first-child:before {
    content: '';
}
.breadcrumbs a:hover {
color: #333333;
}
.breadcrumbs a:last-child {
    color: #333333;
    cursor: pointer;
}
.search_title {
    font-weight: 500;
    font-family: 'Commissioner';
    font-size: 32px;
    line-height: 30px;
}
.product_grid-container {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 65px 20px;
}
.page_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-top: 60px;
     gap: 10px;
}

.page_nav-counter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
   
}
.page_nav-count-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.page_nav-count {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
    position: relative;
   
   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.page_nav-count::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 1px;
    left:50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: opacity .3s ease;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-color: var(--main-green);
}
.page_nav-count:hover::before {
    opacity: .3;
}
.page_nav-count.is-active::before {
    opacity: 1;
}

.page_nav-prev,
.page_nav-next {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition:  background-color .3s ease;
    background-color: var(--dark-black);
    mask-image: url('../images/icons/arrow-top_black.svg');
}
.page_nav-prev:hover,
.page_nav-next:hover {
background-color: var(--main-green);
}
.page_nav-prev {
    transform: rotate(-90deg);
}
.page_nav-next {
    transform: rotate(90deg);
}
.page_nav-prev--disabled {
    opacity: .3;
    pointer-events: none;
}
@media (max-width:1300px) {

    .catalog_item {
        padding: 10px;
        width: 100%;
        border-radius: 14px;
        aspect-ratio: 1 / 0.424;
    }

    .catalog_item-img {
        border-radius: 8px;
    }

    .catalog_item h4 {
        font-size: 24px;
    }

}

@media (max-width:1000px) {
    h1 {
        font-size: 32px;
        line-height: 30px;
    }
    .container {
        padding: 0 10px;
    }

    .hero_container {
        gap: 20px;
    }

    h2 {
        font-size: 32px;
        line-height: 30px;
    }

    .header {
        padding: 10px 0;
    }
    body {
padding-top: 68px;
    }
    .main {
        
        gap: 39px;
    }

    .header-top {
        display: none;
    }

    .header-content .btn_group {
        display: none;
    }

    .header-content {
        justify-content: space-between;
        padding: 0;
    }

    .logo_img {
        width: 130px;
        height: 26px;
    }

    .logo-wrapper {
        gap: 2px;
        align-items: start;
    }

    .logo-wrapper span {
        font-size: 14px;
    }

    .btn_square {
        width: 48px;
        height: 48px;
        border-radius: 14px;
    }

    .nav_bottom {
        display: flex;
    }

    .btn_page-top {
        bottom: 85px;
        right: 10px;
    }

    .btn--burger {
        display: flex;
    }

    .menu-content {
        padding: 10px;
        padding-bottom: 30px;
        gap: 30px;
    }

    .menu-content .logo-wrapper {
        display: flex;
    }

    #basketMenu .menu-content__title {
        display: none;
    }

    .mini-basket_card-info {
        font-size: 16px;
        line-height: 20px;
    }

    .mini-basket_card-img {
        width: 60px;
        border-radius: 16px;
    }

    .mini-basket_card {
        align-items: start;
    }

    .btn_mobile_visible {
        display: flex;
    }

    .modal-content {
        padding: 16px;
        border-radius: 16px;
    }

    .quick-order__img {
        width: 145px;
        margin-bottom: 10px;
    }

    .quick-order__price,
    .quick-order__name {
        font-size: 16px;
        line-height: 30px;
        margin: 0;
    }

    .menu-content_main {
        gap: 20px;
    }

    .contact-adress {
        gap: 4px;
        flex-direction: column;
        align-items: start;
        font-size: 14px;
        line-height: 18px;
    }

    .link_tel {
        font-size: 14px;

    }

    .catalog_item_link {
        display: none;
    }

    .catalog_item--all {
        display: none;
    }

    .catalog_item {
        width: fit-content;
        aspect-ratio: 0;
        gap: 40px;
        height: 70px;
        max-width: 215px;
    }

    .catalog_item h4 {
        font-size: 16px;
        line-height: 18px;
    }

    .section_hero {
        position: relative;

        overflow-x: hidden;
    }

    .catalog_wrapper {
        padding: 0 10px;
        bottom: 54px;
        left: 0;
        right: 0;
        position: absolute;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .catalog_container {
        gap: 4px;


        width: 819px;

        display: flex;
        flex-wrap: wrap;

    }

    .btn_more_catalog {
        margin-top: 158px;
        display: flex;
    }

    .catalog_item-img_wrapper {
        width: 50px;
        height: 50px;
        aspect-ratio: 0;
        flex-shrink: 0;
    }

    .product-promo-tab {
        font-size: 16px;
        line-height: 30px;
        padding: 0 8px;
    }

    .tab_links {
        display: none;
    }

    .swiper_promo {
        margin-top: 10px;
    }

    .swiper_nav-container {
        display: none;
    }

    .swiper-pagination {
        padding: 0;
        margin-top: 20px;
    }

    .product-card_img-wrapper {
        border-radius: 16px;
    }

    .product-card_img__overlay {
        padding: 10px;
        background-color: transparent;
        opacity: 1;
    }

    .product-card[data-availability="false"] .product-card_img__overlay {
        background: #00000080;

    }

    .product-card[data-availability="false"] .product-card_img__overlay::after {
        content: 'Временно нет в наличии';
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 14px;
        line-height: 14px;
        color: var(--light-wite);
    }

    .product-card[data-availability="false"] .availability_msg {
        display: none;
    }

    .product-card_hint {
        top: 10px;
        left: 10px;
        height: auto;
        width: auto;
        padding: 6px;
        font-size: 12px;
        line-height: 14px;
    }

    .product_card_like {
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
    }

    .product_card_like::after {
        width: 16px;
        height: 16px;
        mask-image: url('../images/icons/like16.svg');
    }

    .product_card_like.liked::after {

        mask-image: url('../images/icons/like_fill16.svg');
    }

    .product-card [data-btn="buyLike"] span {
        display: none;
    }

    .product-card [data-btn="buyLike"] {
        height: 32px;
        border-radius: 12px;
    }

    .product-card [data-btn="quickBuy"] {
        display: none;
    }

    .product-card [data-btn="buyLike"]::after {
        content: 'похожий';
    }

    .product-card [data-btn="addBasket"] span {
        display: none;
    }

    .product-card [data-btn="addBasket"] {
        height: 32px;
        width: 32px;
        padding: 0;
        margin-left: auto;
    }

    .product-card [data-btn="addBasket"]::after {
        content: '';
        width: 16px;
        height: 16px;
        background-color: var(--dark-black);
        mask-image: url('../images/icons/basket16.svg');
    }

    .product-card {
        gap: 10px;
    }

    .product-card_price,
    .product-card_title {
        font-size: 16px;
        line-height: 18px;
    }

    .banner {
        padding: 20px;
        border-radius: 24px;
    }

    .banner-info {
        gap: 10px;
        max-width: 350px;

    }

    .text-m {
        font-size: 16px;
        line-height: 16px;
    }

    .reviews_top {
        flex-direction: column;
        gap: 10px;
    }

    .yandex_review {
        flex-direction: row-reverse;
        padding: 0;
    }

    .yandex_review__flag {
        position: relative;
        width: 60px;
        height: 84px;
    }

    .yandex_review__raiting {
        width: 188px;
        height: 82px;
        box-shadow: none;
    }

    .swiper_blog {
        margin-top: 10px;
    }

    .swiper_blog .blog_card {
        max-width: 266px;
    }

    .blog_card.swiper-slide-active .blog_card-img {
        height: 157px;
    }

    .blog_card-img {
        height: 136px;
    }

    .blog_card_info {
        padding: 10px;
    }

    .blog_card_title {
        font-size: 18px;
        line-height: 18px;
    }

    .text-s {
        font-size: 16px;
        line-height: 16px;
    }

    .blog_card.swiper-slide-prev {
        transform: scale(0.8) translate(16px, -35px);
    }

    .blog_card.swiper-slide-next {
        transform: scale(0.8) translate(-16px, -35px);
    }

    .section_blog {
        min-height: 361px;
    }

    .block_contact,
    .block_call {
        padding: 20px;
        border-radius: 30px;
    }

    .contact-container {
        gap: 4px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .block_call {
        gap: 40px;
    }

    .block_contact {
        gap: 20px;
    }

    .block-contact_item {
        font-size: 16px;
        line-height: 24px;
    }

    .block-contact_items {
        gap: 10px;
    }

    .footer_top {
        flex-direction: column-reverse;
    }

    .footer_logo-wrapper {
        gap: 20px;
    }

    .footer-content {
        padding: 10px;
        border-radius: 16px;
        margin-bottom: 88px;
    }

    .footer_logo-links {
        gap: 10px;
    }
    .product_grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.search_title {
    font-size: 16px;
    line-height: 16px;
}
.breadcrumbs {
    margin-bottom: 10px;
}
.breadcrumbs a {
    font-size: 14px;
    line-height: 20px;
}
.catalog_container--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.catalog_container--grid .catalog_item {
    width: 100%;
    max-width: none;
    align-items: center;
}
.catalog_container--grid .catalog_item h4 {
    font-size: 20px;
    font-weight: 500;
}
.flex-column {
    gap: 20px;
}
}

@media (max-width:700px) {
    .banner::after {
        background: url('../images/banner/1_mob.png') 50% / cover no-repeat;
    }

    .banner-info p {
        max-width: 198px;

    }

    .banner-info {
        max-width: none;
    }

    .banner-info .btn {
        width: 100%;
        padding: 0;
        margin-top: 85px;
    }

    .banner_title {
        font-size: 20px;
        line-height: 20px;
        max-width: 198px;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

}

@media (max-width:650px) {

    .menu-content {
        max-width: none;

    }

    .footer_nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer_nav-list--grid {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .footer_nav-list-title.hidden-title {
        display: none;
    }

    .footer_nav-list-title {
        font-size: 16px;
    }

    .footer_nav-link {
        font-size: 14px;
    }

    .developer {
        gap: 10px;
    }

    .footer-content {
        gap: 28px;
    }
        .product_grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.page_nav {
    margin-top: 11px;
}
.catalog_container--grid {
    grid-template-columns: 1fr;
}
}